<div class="row">

    <div class="col-md-3 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" name="txt_search">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Categorias</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><a class="nolink" href="">Limpieza</a></li>
                    <li><a class="nolink" href="">Hogar</a></li>
                    <li><a class="nolink" href="">Electrónicos</a></li>
                    <li><a class="nolink" href="">Otros...</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Productos <span id="container_spinner"></span></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 item-product" ng-repeat="product in products">
                        <div class="thumbnail" style="padding-top:10px; padding-bottom:10px;">
                            <img ng-src="{{product.image}}" class="img-thumbnail" />
                            <div class="caption">
                                <h5 class="title text-primary"><strong>{{product.name}}</strong></h5>
                                <p class="text-justify description">{{product.description}}</p>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <strong class="text-success">{{product.price | currency}}</strong>
                                    </div>
                                    <div class="col-md-6 col-xs-6 text-right">
                                        <a class="btn btn-default btn-sm" title="Ver detalles del producto" data-toggle="tooltip" href="" ng-click="view(product.id)">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a class="btn btn-default btn-sm" title="Agregar al carrito de compras" data-toggle="tooltip" href="" ng-click="addToShoppingCart(product.id)">
                                            <i class="fa fa-share"></i><i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="productModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">{{product_detaills.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="text-center"><img ng-src="{{product_detaills.image}}" class="img-thumbnail" /></div>
                <p class="text-justify description">{{product_detaills.description}}</p>
                <div class="text-right">
                    <strong class="text-success">{{product_detaills.price | currency}}</strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="addToShoppingCart(product_detaills.id)">
                    <i class="fa fa-share"></i><i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->